<h2>Number of Stores:</h2>
<%= @total_number_of_stores %>

<h2>Stores in your area:</h2>

<% @list_of_stores.each do |store| %>
  <ul><h4>Name: <%= store["name"] %></ul></h4>
  <ul>Store Type: <%= store["storeType"] %></ul>
  <ul>City: <%= store["city"] %></ul>
  <ul>Distance: <%= store["distance"] %></ul>
<% end %>
